html{
  font-family: 'Open Sans', sans-serif;
  background-color:#333;

}
body{
  height:100%;
  color:#fff;

}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote {
    padding: 0;
    margin: 0;
}

/*ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}*/

.info ul{
  padding-top:10px;
}
.info ul li{
  margin:5px 40px;
  font-size:0.8em;
}

nav {
    width: 100%;
    background: #000;
    border: 1px solid #333;
    border-right: none;
    position:fixed;
    top:0;
    z-index:8;
    color: #fff;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
    color: #fff;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;

}

#current a{
  background-color:#eee;
  color:#333;
}

.main{
  padding:5em 10em 5em 5em;
  position:absolute;
  top:10%;
  line-height:1.8em;

}
.main p{
  padding-top:20px;
  font-weight:300;
  font-size:0.8em;


}

.info{
  padding:5em;
  line-height:1.8em;

}
.info p{
  padding-top:20px;
  font-weight:300;

}
.text p{
  margin-right:3em;
  font-size:0.8em;
}
